__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
log/*.log
data/*.db
data/*.json
!data/seed_data.json
.env
*.sqlite3
.mypy_cache/
.pytest_cache/
test/*_test.json
